In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer, RobustScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression, ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv(r'D:\ds_ridwan\fertilizer-optimizer\data\raw\train.csv')
df.drop(columns=['id'], inplace=True)
df.head()

   Temparature  Humidity  Moisture  ... Potassium Phosphorous  Fertilizer Name
0           37        70        36  ...         4           5            28-28
1           27        69        65  ...         6          18            28-28
2           29        63        32  ...        12          16         17-17-17
3           35        62        54  ...        12           4         10-26-26
4           35        58        43  ...         2          16              DAP

[5 rows x 9 columns]

In [12]:
print(f'Fitur di Soil Type: {df["Soil Type"].unique()}\n')
print(f'Fitur di Crop Type: {df["Crop Type"].unique()}\n')
print(f'Fitur di Target: {df["Fertilizer Name"].unique()}')

Fitur di Soil Type: ['Clayey' 'Sandy' 'Red' 'Loamy' 'Black']

Fitur di Crop Type: ['Sugarcane' 'Millets' 'Barley' 'Paddy' 'Pulses' 'Tobacco' 'Ground Nuts'
 'Maize' 'Cotton' 'Wheat' 'Oil seeds']

Fitur di Target: ['28-28' '17-17-17' '10-26-26' 'DAP' '20-20' '14-35-14' 'Urea']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Temparature      750000 non-null  int64
 1   Humidity         750000 non-null  int64
 2   Moisture         750000 non-null  int64
 3   Soil Type        750000 non-null  object
 4   Crop Type        750000 non-null  object
 5   Nitrogen         750000 non-null  int64
 6   Potassium        750000 non-null  int64
 7   Phosphorous      750000 non-null  int64
 8   Fertilizer Name  750000 non-null  object
dtypes: int64(6), object(3)
memory usage: 51.5+ MB